<button class="btn-close" mat-button (click)=" closeDialog()"><i class="material-icons">highlight_remove</i></button>
<div class="wrapper">
    <div class="actions">
        <button class="btn-page" mat-button><i class="material-icons" (click)=" changePage(1)">car_crash</i></button>
        <button class="btn-page" mat-button><i class="material-icons" (click)=" changePage(2)">topic</i></button>
    </div>
    <div class="container">
        <form #carForm="ngForm" class="form" (ngSubmit)="updateCar()"
            [ngStyle]="{ 'display':pageIndex == 1 ? 'flex':'none' }">
            <mat-form-field class="form-item" appearance="outline">
                <mat-label>Car model</mat-label>
                <input type="text" matInput required id="modelName" name="modelName"
                    [(ngModel)]="updateCarModel.modelName" placeholder="Ex. BMW">
                <mat-icon matSuffix>drive_eta</mat-icon>
                <mat-error *ngIf="CarFormControl.hasError('required')">
                    Car model is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-item" appearance="outline">
                <mat-label>Registration number</mat-label>
                <input type="text" matInput required type="text" id="registNum" name="registNum"
                    [(ngModel)]="updateCarModel.registNum" placeholder="Ex. AA0000AA">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="CarFormControl.hasError('required')">
                    Registration number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="form-item" appearance="outline">
            <mat-label>Count of seats</mat-label>
           
            <input matInput type="number" min="1" id=" countOfSeats" name="countOfSeats"
                [(ngModel)]="updateCarModel.countOfSeats" placeholder="Ex. 4" required>
            <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
            <mat-error *ngIf="CarFormControl.hasError('required')">
                Count of seats is <strong>required</strong>
            </mat-error>
        </mat-form-field> -->
            <mat-form-field class="form-item" appearance="outline">
                <mat-label>Car type</mat-label>
                <mat-select name="carId" id="carId" [(ngModel)]="updateCarModel.carType" required>
                    <mat-option [value]="carType.Sedan">
                        Sedan
                    </mat-option>
                    <mat-option [value]="carType.Bus">
                        Bus
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix *ngIf="updateCarModel.carType == carType.Sedan">drive_eta</mat-icon>
                <mat-icon matSuffix *ngIf="updateCarModel.carType == carType.Bus">airport_shuttle</mat-icon>
                <mat-error *ngIf="CarFormControl.hasError('required')">
                    Car type is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <button class="btn-save" type="submit" [disabled]="!carForm.valid">Save</button>
        </form>
        <div class="documents-list" [ngStyle]="{ 'display':pageIndex == 2 ? 'flex':'none' }">
            <app-images-gallery [images]="images" [editMode]="true" (addedFile)="getImages($event)"
                (removeImg)="deleteImg($event)">
            </app-images-gallery>
            <button class="btn-save" type="submit" (click)="updateCarDocuments()">Save</button>
        </div>
    </div>
</div>