mat-progress-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;

    right: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
}

.wrapper {
    position: relative;
    width: 70vw;
    margin: 10px auto auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.hide-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
}

hr {
    border: none;
    background-color: rgb(237, 237, 237);
    height: 1px;
    margin: 0px;
    margin: 0 24px;
}

.row {
    width: 50%;
    margin: auto;
}

.img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
}


.body_data {
    color: rgb(5, 71, 82);
    transition: 0.5s;
    box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
    transition: box-shadow 200ms ease-in 0s;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;

    .profile_img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        // justify-content: right;
    }

    .user {
        margin: auto 0;

        h4 {

            font-size: 30px;
            line-height: 1.06;
            font-weight: 500;
            margin: 0;
        }
    }



}

.btn {
    border: none;
    background: none;
    cursor: pointer;
}



.actions {
    box-sizing: border-box;
    padding: 12px 24px;
    display: flex;
    // justify-content: space-evenly;
    // margin: auto;


    .btn-change-photo {
        color: rgb(5, 71, 82);
        display: flex;
        justify-content: space-between;

        .material-icons {
            // font-weight: 100;
            font-size: 30px;
            width: 30px;
            height: 30px;
            margin: auto;
        }

        P {

            font-size: 18px;
            margin: auto 10px;
        }
    }
}

// .actions:hover {
//     background: rgb(237, 237, 237);
// }

.change {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.user-cars {
    padding: 12px 24px;
}
