<div class="wrapper">
    <div class="container">
        <div class="settings">
            <div class="title">
                <h3 class="first_title">My account</h3>

            </div>
            <div class="user_information">
                <h6 class="second_title">USER INFORMATION</h6>
                <div class="body">
                    <div class="form-group">
                        <label for="firstName" class="sr-only">User name</label>
                        <div class="input">
                            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                                class="form-control" placeholder="" value="{{user.firstName}}" required disabled>
                            <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="email" class="sr-only">Email</label>
                        <div class="input">
                            <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control"
                                placeholder="" value="{{user.email}}" required>
                            <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="sr-only">Phone number</label>
                        <div class="input">
                            <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                                class="form-control" placeholder="" value="{{user.phoneNumber}}" required>
                            <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user_information">
                <h6 class="second_title">Change password</h6>
                <div class="body password">
                    <div class="form-group">
                        <label for="password" class="sr-only">Current password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder=""
                            required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="sr-only">New password</label>
                        <input type="password" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="sr-only">New password</label>
                        <input type="password" id="" name="" required>
                    </div>
                    <div class="form-group">
                        <button class="btn save__btn save_password">Save</button>
                    </div>
                </div>
            </div>
            <!-- <div class="password">
            <div class="form-group">
                <label for="phoneNumber" class="sr-only">Password </label>
                <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                    class="form-control" placeholder="" value="{{user.phoneNumber}}" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="sr-only">Password</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                    class="form-control" placeholder="" value="{{user.phoneNumber}}" required>
            </div>
        </div> -->
        </div>
        <div class="user_info">
            <div class="container user_container">
                <div class="header">
                    <img src="../../../../assets/images/user.png" alt="" class="img profile_img profile__img">
                </div>
                <div class="name">
                    <h3 class="user_name first_title">{{user.firstName}}</h3>
                </div>
                <button class="btn save__btn messages">Messages</button>
                <div class="car_info">
                    <div class="info__data">
                        <p>{{user.cars.length}}</p>
                        <p class="btn info_btn">Cars</p>
                    </div>
                    <div class="info__data">
                        <p>{{user.trips?.length}}</p>
                        <p class="btn info_btn">My trips</p>
                    </div>
                    <div class="info__data">
                        <p>{{user.tripUsers?.length}}</p>
                        <p class="btn info_btn">Trips</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>