<!-- <mat-dialog-actions>
    <div class="actions">
        <button class="btn_action" (click)="close()">Close</button>
    </div>
</mat-dialog-actions> -->
<mat-dialog-content>
    <div class="body">
        <div class="row">
            <div class="card_body user_main_info">
                <div class="user_img">
                    <img [src]="'https://www.bootdey.com/img/Content/avatar/avatar6.png'" alt=""
                        class="img profile_img profile__img">
                </div>
                <div class="user">
                    <h4>{{user.firstName}}</h4>
                </div>
                <div class="actions">
                    <p>Change photo</p>
                </div>
                <hr>
                <div class="user_info">
                    <div class="icon_img">
                        <img src="../../../../assets/car.png" alt="">
                    </div>
                    <p>{{user.cars.length}}</p>
                </div>
                <hr>
                <div class="user_info">
                    <div class="icon_img">
                        <img src="../../../../assets/destination.png" alt="">
                    </div>
                    <p>{{user.trips?.length}}</p>
                </div>
                <hr>
                <div class="user_info">
                    <div class="icon_img">
                        <img src="../../../../assets/tourist.png" alt="">
                    </div>
                    <p>{{user.tripUsers?.length}}</p>
                </div>
            </div>
            <div class="card_body data_elements">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="firstName" class="sr-only">User name</label>
                        <div class="input">
                            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                                class="form-control" placeholder="" value="{{user.firstName}}" required>
                            <!-- <mat-icon>create</mat-icon>
                            <p (click)="changeUserName()">
                                <mat-icon>check</mat-icon>
                            </p> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <div class="input">
                            <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control"
                                placeholder="" value="{{user.email}}" required>
                            <!-- <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="sr-only">Phone number</label>
                        <div class="input">
                            <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                                class="form-control" placeholder="" value="{{user.phoneNumber}}" required>
                            <!-- <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon> -->
                        </div>
                    </div>
                    <div class="actions">
                        <input type="submit" value="Edit">
                        <!-- save -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="user_info">
            <div class="user_container">
                <div class="header">
                    <img [src]="sanitaizeImg(user.userImg!)" alt="" class="img profile_img profile__img">
                </div>
                <div class="name">
                    <h3 class="user_name first_title">{{user.firstName}}</h3>
                </div>
                <button class="btn save__btn messages">Messages</button>
                <div class="car_info">
                    <div class="info__data">
                        <p>{{user.cars.length}}</p>
                        <p class="btn info_btn">Cars</p>
                    </div>
                    <div class="info__data">
                        <p>{{user.trips?.length}}</p>
                        <p class="btn info_btn">My trips</p>
                    </div>
                    <div class="info__data">
                        <p>{{user.tripUsers?.length}}</p>
                        <p class="btn info_btn">Trips</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="settings">

            <div class="user_information">
                <h6 class="second_title">USER INFORMATION </h6>
                <div class="body main_body">
                    <div class="header">
                        <img [src]="sanitaizeImg(user.userImg!)" alt="" class="img profile_img profile__img">
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="sr-only">User name</label>
                        <div class="input">
                            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                                class="form-control" placeholder="" value="{{user.firstName}}" required>
                            <mat-icon>create</mat-icon>
                            <p (click)="changeUserName()">
                                <mat-icon>check</mat-icon>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <div class="input">
                            <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control"
                                placeholder="" value="{{user.email}}" required>
                            <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="sr-only">Phone number</label>
                        <div class="input">
                            <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                                class="form-control" placeholder="" value="{{user.phoneNumber}}" required>
                            <mat-icon>create</mat-icon>
                            <mat-icon>check</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user_information">
                <h6 class="second_title">Change password</h6>
                <div class="body password">
                    <div class="form-group">
                        <label for="password" class="sr-only">Current password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder=""
                            required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="sr-only">New password</label>
                        <input type="password" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="sr-only">New password</label>
                        <input type="password" id="" name="" required>
                    </div>
                    <div class="form-group">
                        <button class="btn save__btn save_password">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</mat-dialog-content>