/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
    // background: #ffd89b;
    // background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
    // background: linear-gradient(to right, #ffd89b, #19547b);
    // background: rgb(21, 18, 39);
    // background: linear-gradient(90deg, rgba(21, 18, 39, 1) 0%, rgba(58, 47, 113, 1) 37%, rgba(186, 167, 221, 1) 94%);
    // background: rgb(40, 33, 77);
    // background: linear-gradient(90deg, rgba(40, 33, 77, 1) 0%, rgba(50, 44, 82, 1) 12%, rgba(58, 47, 113, 1) 37%, rgba(186, 167, 221, 1) 94%);
    // background-color: #e5e5e5;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    //background-color: #74EBD5;
    //background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    //background: url("./assets/back_Lviv.png");
    //bl
  //overflow: hidden;

    .box {
      width: 99.9vw;
      height: 99%;
      z-index: -1;
      position: fixed;
      filter: blur(3px);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
}
