<div class="container">
  <div class="head">
    <div class="title">
      <h3>Go on a trip with low prices</h3>
    </div>
    <app-search-form></app-search-form>
  </div>
  <div class="body">
    <div class="title">
      <h3>HOW IT WORKS</h3>
    </div>
    <div class="content">
      <div class="info">
        <img src="../../../../assets/search.png" class="img" alt="">
        <h4 class="title">Search trips</h4>
        <p class="text">Traveling with fellow travelers you pay less, wherever you go. Just do a search.</p>
      </div>
      <div class="info">
        <img src="../../../../assets/trip.png" alt="" class="img">
        <h4 class="title">Find one</h4>
        <p class="text">Choose the trip you like. There will always be a driver next to you. Read the trip description.
        </p>
      </div>
      <div class="info">
        <img src="../../../../assets/reservation.png" alt="" class="img">
        <h4 class="title">Make a Reservation</h4>
        <p class="text">You can book a trip on our website. You just need to decide which trip suits you best.</p>
      </div>
    </div>
  </div>

</div>


<!-- <h1>Customers</h1>
<ul>
  <li *ngFor="let cust of data">{{ cust }}</li>
</ul> -->