<div class="card">
    <div class="card-body">
        <h1 class="card-title">Forgot Password</h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            {{successMessage}}
        </div>
        <mat-label>Enter your email</mat-label>
        <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="forgotPassword(forgotPasswordForm.value)">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" id="email"
                    name="email">
                <mat-icon matSuffix> email</mat-icon>
                <mat-error *ngIf="validateControl('email') && hasError('email', 'email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="validateControl('email') && hasError('email', 'required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- <div class="mb-3 row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-md-5">
                    <input type="text" id="email" formControlName="email" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                </div>
            </div>
            <br> -->
            <div class="mb-3 row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!forgotPasswordForm.valid">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>