<h2 mat-dialog-title>Підтвердіть бронь</h2>
<mat-dialog-content>
  <div class="box">
  <div>
    <p>{{trip.id}}</p>
    <p>{{trip.countOfSeats}}</p>
    <p>{{trip.description}}</p>
    <p>{{trip.endPlace}}</p>
    <p>{{trip.endTime}}</p>
    <p>{{trip.pricePerSeat}}</p>
    <p>{{trip.startPlace}}</p>
    <p>{{trip.startTime}}</p>
    <p>{{trip.userId}}</p>
    <p> Ціна за {{requestedSeats}} - {{requestedSeats*trip.pricePerSeat}} --- {{ trip.pricePerSeat }}</p>
  </div>
  <!-- <div *ngFor="let item of trip.availableSeats">
    <button class="btn uno" *ngIf="(item.availableSeatsType == seatType.Booked); else elseItem" (click)="bookSeat(item.seatId)" disabled>
      {{item.seat.num}}
    </button>
    <ng-template #elseItem>
      <button class="btn uno" (click)="bookSeat(item.seatId)">{{item.seat.num}}</button>
    </ng-template>
  </div> -->
  <div class="seats">
  <ul class="cards">
    <li *ngFor="let item of trip.availableSeats">
        <button class="btn uno" *ngIf="(item.availableSeatsType == seatType.Booked); else elseItem" (click)="bookSeat(item.seatId)" disabled>
          {{item.seat.num}}
        </button>
        <ng-template #elseItem>
          <button class="btn uno" (click)="bookSeat(item.seatId)">{{item.seat.num}}</button>
        </ng-template>
    </li>
  </ul>
</div>
</div>  
</mat-dialog-content>

<mat-dialog-actions>
    <button class=""(click)="close()">Відмінити</button>
    <button class=""(click)="confirmBook()">Підтвердити</button>
</mat-dialog-actions>
