
.box {
    display: flex;
    align-items: stretch;
  }
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    border: 1px solid black;
  }
  
  @media (min-width: 10px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }
  
  li {
    height: 25px;
    flex-grow: 1;
    list-style-type: none;
  }
  
  .btn {
      border: 1px solid black;
      border-radius: 12px;
      background-color: white;
      color: black;
      border-color: black;
      padding: 14px 28px;
      font-size: 10px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin: 4px;
      overflow-x: flex;
      flex: auto;
  }
  
  .btn:hover {
      background-color: black;
      color: white;
  }