.head {
    height: 60vh;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 200px;
    color: #04333b;

    h3 {
        font-size: 40px;
        font-weight: 500;
    }
}

.body {
    padding: 50px 0;
    background-color: #f5f6ff;
    // height: 1000px;

    .title {
        text-transform: uppercase;
        margin: 50px;

        h3 {
            margin: 0;
        }
    }

    .content {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .info {
            margin: 10px 10px;
            padding: 15px;
            transition: .5s ease;
            border-radius: 5px;
            border: 1px solid #f1f1f1;
            box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
            // border: 1px solid #000;
            text-align: center;
            width: 300px;

            .title {
                text-transform: none;
                font-size: 20px;
                font-weight: 500;
                padding: 0;
                margin: 15px;
            }

            .text {
                font-size: 16px;
            }

            .img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }
    }
}