<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>
        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/auth/login']"> click here to log in. </a>
        </div>
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" id="password" name="password">
                <mat-icon matSuffix>key</mat-icon>
                <mat-error *ngIf="validateControl('password') && hasError('password', 'required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="confirmPassword" id="password" name="password">
                <mat-icon matSuffix>key</mat-icon>
                <mat-error *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')">
                    Confirmation
                    is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="hasError('confirmPassword', 'mustMatch')">
                    Passwords must <strong>mutch</strong>
                </mat-error>
            </mat-form-field>
            <div class="mb-3 row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>