<p>request-driving-license works!</p>

<div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" multiple>
        <button type="button" class="btn btn-success" (click)="addLicense()">Upload File</button>
    </div>
    <img [src]="" style="width: 20%;" alt="Image Review">
    <!-- <label for="file">Select File
    <img [src]="imageUrl" style="width: 20%;" alt="Image Review">
</label>
<input type="file" id="file" (change)="onSelectNewFile($event.target)">


<!-- <input multiple type="file" name="images" id="images" placeholder="Choose photo" /> -->
    <!-- <button (click)="addLicense()"></button> -->