.container {
    display: flex;
    // height: 60px;
    // width: 790px;
    margin: auto;
    // border: 1px #000 solid;
    background-color: transparent;
    transition: 0.5s;
    // position: relative;
}

.form {
    min-width: 730px;
    background-color: #fff;
    margin: auto;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 30%);

    .input__item {
        // display: block;
        min-width: 150px;
        margin: 0 10px;
        border-radius: 10px;
        color: #000;

        mat-icon {
            font-size: 24px;
            margin: auto;
            color: #000;
        }
    }

    .count__item {
        min-width: 50px;
        width: 51px !important;
        position: relative;
    }

    .btn {
        border: none;
        padding: 15px 15px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        margin: auto 0;
        // background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
        background-image: linear-gradient(to right, #5C258D 0%, #4389A2 51%, #5C258D 100%);
        color: white;
        text-transform: uppercase;
        transition: .5s;
        background-size: 200% auto;
        color: #fff;

    }

    .btn:hover {
        background-position: right center;

        text-decoration: none;

    }



    .input__counter {
        transition: 0.5s ease-in-out;
        position: absolute;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 12px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 30%);
        top: 170%;
        right: -150%;
        font-size: 18px;
        display: none;

        .text {
            margin: auto;
            margin-right: 20px;
            width: 90px;
        }

        .counter {
            display: flex;

            .counter_value {
                font-size: 20px;
                font-weight: 500;
                margin: auto;
                padding: 0 20px;
                // min-width: 30px;
                // max-width: 30px;
                text-align: center;
            }

            .icon {
                // cursor: pointer;
                border: #000 1px solid;
                border-radius: 50%;
                padding: 5px;

            }
        }
    }

    .counter_active {
        display: flex;
    }



    // .line {
    //     width: 2px;
    //     margin: auto;
    //     height: 40px;
    //     border-radius: 20px;
    //     background-color: #949494;
    // }

    //input outline color
    // ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-legacy {
    //     color: red !important;
    //     // opacity: 1!important;
    // }

    //mat-input focused color
    // ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    //     color: red !important;
    // }

    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    //     color: yellow;
    // }

    // ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline .mat-form-field-disabled {
    //     height: 1px !important;
    //     background-color: yellow;
    // }

    ::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline {
        background-color: white;
        background-image: none;
    }

    ::ng-deep .mat-form-field-appearance-standard:hover .mat-form-field-underline {
        background-color: #000;
        height: 2.5% !important;
        background-image: none;
        transition: .1s;
    }

    // ::ng-deep .mat-form-field-appearance-standard.mat-form-field-ripple {
    //     background-color: yellow;
    // }

    // ::ng-deep .mat-form-field-appearance-legacy.mat-disabled .mat-form-field-underline,
    ::ng-deep .mat-form-field-appearance-standard.mat-focused .mat-form-field-ripple {
        background-color: transparent;
        background-image: none;
    }


    // ::ng-deep .mat-form-field-appearance-standard.mat-form-field-disabled .mat-form-field-underline {}


    // ::ng-deep.mat-form-field-disabled .mat-form-field-underline {
    //     background-color: white;

    // }

    // ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
    //     background-color: #69f0ae !important;
    // }

    // /* Font color */
    .mat-input-element:disabled,
    .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
        color: #000;
    }

    input.mat-input-element {
        // color: white;
        font-size: 18px;
    }

}