<div class="documents">
    <div class="actions">
        <button class="btn-edit" (click)="edit()">
            <i class="material-icons">create</i>
            <p>Edit</p>
        </button>
        <mat-form-field appearance="legacy" class="form-item">
            <mat-label>Add files</mat-label>
            <ngx-mat-file-input [multiple]="true" [formControl]="fileControl">
            </ngx-mat-file-input>

        </mat-form-field>
    </div>
    <div class="doc-list" [ngStyle]="{'display': !editImages ? 'none':'flex' }">
        <div class="doc-item" *ngFor="let doc of images">
            <button class="btn-remove"><i class="material-icons" (click)=" deleteImg(doc)">highlight_remove</i></button>
            <img [src]="sanitizeImg(doc)" [ngStyle]="{'filter': 'brightness(60%)'}" alt="">
        </div>
    </div>
    <lightgallery class="doc-list" [ngStyle]="{'display': editImages ? 'none':'flex'}" [settings]="settings"
        [onInit]="onInit">

        <a class="gallery-item" *ngFor="let doc of images" [attr.data-src]="doc">
            <div class="doc-item">
                <img [src]="sanitizeImg(doc)" alt="">
            </div>
        </a>


    </lightgallery>
</div>