<div class="wrapper">
    <div class="container">
        <div class="tab">
            <div class="info_btn" (click)="changePage(menu.Info)">
                <i class="material-icons">info</i>
            </div>
            <div class="info_btn">
                <i class="material-icons" (click)="changePage(menu.Car)">directions_car</i>
            </div>
        </div>
        <app-add-trip [trip]="trip" (tripOutput)=getOutPut($event) (pageOutput)=getPagePut($event) *ngIf="check == 1">
        </app-add-trip>
        <app-add-available-seats [trip]="trip" [userCars]="userCars" (tripOutput)=getOutPut($event) *ngIf="check == 2">
        </app-add-available-seats>
    </div>
</div>