<div class="container">
    <nav>
        <a class="navbar-brand" [routerLink]="'/auth/home'">BlaBlaCar</a>
        <div class="menu" [ngClass]="{'': toggle, 'menu_active': !toggle}">
            <div class="navbar-section-main">
                <ul class="navbar-nav main_nav">
                    <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                    <!-- <li class="nav-item active"><a [routerLink]="'/auth/home'" class="nav-link">Home</a></li> -->
                    <li class="nav-item"><a [routerLink]="'search'" class="nav-link btn-trip">
                            <i class="material-icons">search</i>
                            <p>Search</p>
                        </a></li>
                    <li class="nav-item"><a class="nav-link btn-trip" routerLink="add-trip">
                            <i class="material-icons">add_circle_outline</i>
                            <p>Post a trip</p>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-section-main actions">
            <ul class="navbar-nav">
                <li class="nav-item notification" [routerLink]="'chat'">
                    <p class="notifi__count" *ngIf=" unreadMessages > 0">{{ unreadMessages}}</p>
                    <i class="material-icons">chat</i>
                </li>
                <li class="nav-item notification">
                    <p class="notifi__count" *ngIf="notifiNotReadCount > 0">{{notifiNotReadCount}}</p>
                    <i class="material-icons">notifications</i>
                    <app-notifications class="notification_list" (notReadedNotifiEvent)="countNotify($event)">
                    </app-notifications>
                </li>

                <li class="nav-item user-profile">
                    <div class="profile-menu">
                        <div class="profile-img">
                            <img [src]="sanitizaImg(userService.userProfile.userImg!)" alt="">
                        </div>
                        <p class="user-name">{{userService.userProfile.firstName}}</p>
                        <i class="material-icons">arrow_forward_ios</i>
                    </div>
                    <div class="user-profile-submenu">
                        <div class="user-info">
                            <div class="profile-img">
                                <img [src]="sanitizaImg(userService.userProfile.userImg!)" alt="">
                            </div>
                            <div class="info">
                                <h4 class="user-name">{{userService.userProfile.firstName}}</h4>
                                <p class="user-email">{{userService.userProfile.email}}</p>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <a [routerLink]="'profile'" class="submenu_item">
                                    <i class="material-icons">person</i>
                                    <a class="submenu_text">Account</a>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="'user-information/user-trips'" class="submenu_item">
                                    <i class="material-icons">location_on</i>
                                    <a class="submenu_text">My trips</a>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="'user-information/booked-trips'" class="submenu_item">
                                    <i class="material-icons">card_travel</i>
                                    <a class="submenu_text">Booked trips</a>
                                </a>
                            </li>
                            <li>
                                <a class="submenu_item" (click)=" openFeedBacksList()">
                                    <i class="material-icons">feedback</i>
                                    <a class="submenu_text">Feedbacks</a>
                                </a>
                            </li>
                            <!-- <li>
                                <a [routerLink]="'/chat'" class="submenu_item">
                                    <i class="material-icons">chat</i>
                                    <a class="submenu_text">Chats</a>
                                </a>
                            </li> -->
                            <li class="logout">
                                <a (click)="logOut()" class="submenu_item">
                                    <i class="material-icons">logout</i>
                                    <a class="submenu_text">Logout</a>
                                </a>
                            </li>
                            <!-- <li class="submenu_item">
                                <a class="submenu_text" [routerLink]="'/user-information'">My trips</a>
                            </li>
                            <li class="submenu_item">
                                <a class="submenu_text" [routerLink]="'/user-information/booked-trips'">Reserved
                                    trips</a>
                            </li>
                            <li class="submenu_item">
                                <a class="submenu_text" [routerLink]="'/cars'">My cars</a>
                            </li>
                            <li class="submenu_item"><a [routerLink]="'/add-car'" class="submenu_text">New car</a>
                            </li>
                            <li class="submenu_item"><a [routerLink]="'/driving-license'" class="submenu_text">Add
                                    driving
                                    license</a>
                            </li> -->
                        </ul>
                    </div>
                </li>

                <li class="nav-item toggler" (click)="change()"><button class="btn btn-toggler"><i
                            class="material-icons">density_medium</i></button></li>
            </ul>
        </div>
    </nav>
</div>