<div class="container">
    <div class="chart__item">
        <h3 class="title">Monthy users</h3>
        <div class="chart-container">
            <canvas id="myChart">{{ chart }}</canvas>
        </div>
    </div>
    <div class="chart__item">
        <h3 class="title">Monthy cars</h3>
        <div class="chart-container">
            <canvas id="myChart1">{{ chart1 }}</canvas>
        </div>
    </div>
    <div class="chart__item">
        <h3 class="title">Week trips</h3>
        <div class="chart-container">
            <canvas id="myChart2">{{ chart2 }}</canvas>
        </div>
    </div>
    <div class="chart__item">
        <h3 class="title">Monthy trips</h3>
        <div class="chart-container">
            <canvas id="myChart3">{{ chart3 }}</canvas>
        </div>
    </div>
</div>