<div class="wrapper">
    <div class="main_info">
        <div class="part_one">
            <div class="user__image">
                <img [src]="sanitaizeImg(user.userImg!)" alt="" class="img profile__img">
            </div>
            <div class="info">
                <div class="info__data">
                    <p>{{user.cars.length}}</p>
                    <p>Cars</p>
                </div>
                <div class="info__data">
                    <p>{{user.trips?.length}}</p>
                    <p>Trips</p>
                </div>
                <div class="info__data">
                    <p>{{user.tripUsers?.length}}</p>
                    <p>Travels</p>
                </div>

            </div>
            <button class="btn btn-message">Message</button>
        </div>
        <div class="part_two">
            <p><strong>{{user.firstName}}</strong></p>
            <div class="user__data">


                <p>{{user.email}}</p>

                <p>{{user.phoneNumber}}</p>

            </div>
            <hr class="data__underline" />
        </div>
    </div>
    <div class="main_info licenses">
        <h3 class="title"><strong>Driving license</strong></h3>
        <div class="driving_licenses">
            <div *ngFor="let doc of user.userDocuments" class="license_image">
                <img [src]="sanitaizeImg(doc.drivingLicense)" class="img driving_license__img" alt="">
            </div>

        </div>
        <div class="actions">
            <i class="material-icons btn btn_actions" (click)="changeUserStatus(userStatus.Confirmed)">thumb_up</i>
            <i class="material-icons btn btn_actions"
                (click)="changeUserStatus(userStatus.NeedMoreData)">thumbs_up_down</i>
            <i class="material-icons btn btn_actions" (click)="changeUserStatus(userStatus.Rejected)">thumb_down</i>
        </div>
    </div>
</div>