<p>roles works!</p>

<div *ngFor="let role of rolesList" >
    <p>{{role.name}}</p>
</div>

<div class="container">
    <form #searchForm="ngForm" (ngSubmit)="getUser(searchForm)">
      <h2 class="form-signin-heading">Search</h2>
        <br/>
        <div class="search-inputs">
          <div class="input__item">
          <label for="startPlace" class="sr-only">User email</label>
          <input type="email" id="startPlace" name="startPlace" [(ngModel)]="userEmail" 
            class="form-control" placeholder="Start place" required >
          </div>
          <button class="btn btn-lg btn-primary" type="submit" [disabled]="!searchForm.valid">Search</button>
      </div>
    </form>
  </div>

<div *ngIf="searchUser.roles.length > 0" >
    <p>{{searchUser.email}}</p>
    <div *ngFor="let role of rolesList; let userRole of searchUser.roles" >
        <input type="checkbox" value="{{role.id}}"   *ngIf="role.name == userRole.name; else elseItem" 
        checked (click)="changeRole(this,role.name, searchUser.id)"> 
        <p  *ngIf="role.name == userRole.name;">{{role.name}}</p>
        <ng-template #elseItem>
          <input type="checkbox" value="{{role.id}}" (click)="changeRole(this,role.name, searchUser.id)"> <p>{{role.name}}</p>
        </ng-template>
    </div>
</div>