<div class="container">

    <div class="overview">
        <div class="info__item info_first">
            <div class="head__item">
                <i class="material-icons">perm_identity</i>
                <div class="head__title">
                    <p class="count">100</p>
                    <p class="title">users</p>
                </div>
            </div>
            <div class="chart-container">
                <canvas id="myChart">{{ chart }}</canvas>
            </div>
        </div>
        <div class="info__item">
            <div class="head__item">
                <i class="material-icons">directions_car</i>
                <div class="head__title">
                    <p class="count">3456</p>
                    <p class="title">cars</p>
                </div>
            </div>
            <div class="chart-container">
                <canvas id="myChart1">{{ chart1 }}</canvas>
            </div>
        </div>
        <div class="info__item  info_third">
            <div class="head__item">

                <i class="material-icons">calendar_month</i>
                <div class="head__title">
                    <p class="count">12344</p>
                    <p class="title">this week trips</p>
                </div>
            </div>
            <div class="chart-container">
                <canvas id="myChart2">{{ chart2 }}</canvas>
            </div>
        </div>
        <div class="info__item info_fourth">
            <div class="head__item">
                <i class="material-icons">where_to_vote</i>
                <div class="head__title">
                    <p class="count">12344</p>
                    <p class="title">trips</p>
                </div>
            </div>
            <div class="chart-container">
                <canvas id="myChart3">{{ chart3 }}</canvas>
            </div>
        </div>
    </div>
    <!-- добавити пошук юзерів -->
    <div class="users-list">
        <div class="head">
            Top users
        </div>
        <div class="title">
            <h4>Avatar</h4>
            <h4>Name</h4>
            <h4>Email</h4>
            <h4>Phone</h4>
            <h4>Date of creation</h4>
            <h4>Licenses status</h4>
            <h4>Total trips</h4>
        </div>
        <div class="user__item">
            <div class="img">
                <p class="user_avatar">
                    <img src="https://demo.dashboardpack.com/architectui-angular-free/assets/images/avatars/2.jpg"
                        alt="">
                </p>
            </div>
            <p>Roma Y</p>
            <p>roman@com</p>
            <p>+38099099099</p>
            <p>12 Dec</p>
            <p>Confirmed</p>
            <p>100</p>
            <!-- добавити випадайку на машини -->
        </div>
    </div>
    <div class="users-list admins">
        <div class="head">
            Admins
        </div>
        <div class="title">
            <h4>Avatar</h4>
            <h4>Name</h4>
            <h4>Email</h4>
            <h4>Phone</h4>
            <h4>Date of creation</h4>
            <h4>Role</h4>
            <h4></h4>
        </div>
        <div class="user__item">
            <div class="img">
                <p class="user_avatar">
                    <img src="https://demo.dashboardpack.com/architectui-angular-free/assets/images/avatars/2.jpg"
                        alt="">
                </p>
            </div>
            <p>Roma Y</p>
            <p>roman@com</p>
            <p>+38099099099</p>
            <p>12 Dec</p>
            <p>Admin</p>
            <p>Revoke role</p>
        </div>
    </div>
    <div class="notifications">
        <div class="global__notifications">
            <div class="title">
                <div class="title__text">
                    <i class="material-icons">calendar_month</i>
                    <h3>Global notifcations</h3>
                </div>
            </div>
            <div class="notifcations_items">
                <div class="notifications__list">
                    <h4>12 Dec</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <div class="users_notifications">
            <div class="title">
                <div class="title__text">
                    <i class="material-icons">calendar_month</i>
                    <h3>Notifcations</h3>
                </div>
            </div>

            <div class="notifcations_items">
                <div class="notifications__list">
                    <div class="img">
                        <p class="user_avatar">
                            <img src="https://demo.dashboardpack.com/architectui-angular-free/assets/images/avatars/2.jpg"
                                alt="">
                        </p>
                    </div>
                    <p>Roma Y</p>
                    <h4>12 Dec</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>