mat-progress-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;

    right: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
}

.wrapper {
    position: relative;
}

.hide-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.container {
    padding: 15px 15px;
    display: flex;
}

.user-block {
    display: flex;
    flex-flow: row wrap;
}

.title {
    font-weight: 500;
    font-size: 18px;
}

.user-info,
.title {
    p {
        height: 40px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, .12);
        padding: 8px;

        .material-icons {
            margin: auto;
        }
    }
}

.user-info {
    p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.img {
    width: 100%;

    .user_avatar {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.user__documents {
    margin-top: 112px;
    border: 1px solid rgba(0, 0, 0, .12);
    flex: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    .title {
        padding-top: 10px;
        text-align: center;
    }

    .list {
        // border: 1px solid rgba(0, 0, 0, .12);
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .documents__item {
            // border: 1px solid rgba(0, 0, 0, .12);
            width: 100%;
            display: flex;

            app-images-gallery {
                width: 100%;
                margin: auto;
            }


            // flex-flow: row wrap;
            justify-content: center;
        }

        .actions {
            display: flex;
            justify-content: center;
            padding: 5px;
            margin-bottom: 10px;

            .material-icons {
                font-size: 40px;
                margin: 5px 10px;
                cursor: pointer;
            }



            // border: 1px solid rgba(0, 0, 0, .12);
        }
    }
}

.car_documents {
    margin-top: 0;

    .actions {
        margin-bottom: 20px;
    }
}

::ng-deep.mat-tab-body-content {
    overflow: hidden !important;
}

// .users-list {
//     background-color: #fff;
// }

// .head {
//     padding: 20px 30px;
//     font-size: 17px;
//     font-weight: 400 !important;
//     color: #495057;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//     position: relative;

//     .actions {
//         display: flex;
//         position: absolute;
//         right: 17px;
//         top: -21px;
//         transform: translateY(50%);
//         background: rgb(172, 165, 165);
//         padding: 10px;
//         border-radius: 10px;

//         // margin: auto;    
//         .btn-orderBy {
//             color: #007bff;
//             background-color: white;
//             background-image: none;
//             border-color: #007bff;
//             border-radius: 5px;
//             padding: 5px 15px;
//             font-size: 15px;
//             font-weight: 500;
//             margin: 0 5px;

//         }

//         p {
//             color: #fff;

//             margin: auto 5px;
//         }
//     }

// }

// .btn {
//     transition: all 0.3s ease;
//     cursor: pointer;
// }

// .users-list {
//     margin: 50px 0;
//     border: 1px solid rgba(0, 0, 0, 0.125);
//     border-radius: 10px;
//     text-align: center;



//     .title {
//         border-radius: 10px;
//         display: flex;
//         justify-content: space-between;
//         padding: 20px 30px;
//         margin-bottom: 0;
//         color: inherit;
//         background-color: #fff;


//         h4 {
//             // border: 1px #000 solid;
//             // width: 100px;
//             // margin: 0 20px;
//             // padding: 10px;
//             color: #495057;
//             width: 150px;
//             font-size: 15px;
//             font-weight: 500;
//             margin: 0;
//         }

//         .userId {
//             width: 40px;
//             font-weight: 600;
//         }
//     }

//     .user__item {
//         cursor: pointer;
//         padding: 15px 30px;
//         display: flex;
//         justify-content: space-between;

//         p {
//             width: 150px;
//             // border: 1px #000 solid;
//             margin: auto 0;
//             // padding: 10px;
//             // text-align: center
//         }

//         .userId {
//             width: 40px;
//             font-size: 15px;
//             font-weight: 500;
//         }

//         .img {
//             width: 150px;
//         }

//         .user_avatar {
//             width: 50px;
//             // padding: 0 50px;
//             // height: 50px;
//             margin: auto;
//             overflow: hidden;

//         }

//         img {
//             border-radius: 10px;
//             width: 100%;
//             height: 100%;
//             display: block;
//             margin: auto;
//             object-fit: cover;
//             overflow: hidden;
//         }
//     }


// }

// .head {
//     font-size: 18px;
//     font-weight: 600;
// }

// .documents__item {
//     display: flex;
//     flex-flow: row wrap;
//     margin: 10px 0;
//     justify-content: center;
//     // .document {
//     //     padding: 5px;
//     //     box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
//     //     margin: 5px auto;
//     //     width: 150px;
//     //     height: 150px;
//     //     overflow: hidden;
//     //     cursor: pointer;

//     //     img {
//     //         width: 100%;
//     //         height: 100%;
//     //         object-fit: cover;
//     //     }
//     // }


// }

// .actions {
//     .material-icons {
//         margin: 10px 20px;
//         font-size: 50px;
//         width: 50px;
//         height: 50px;

//     }

//     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//     margin-bottom: 10px;
// }

// .user__cars {
//     border-radius: 10px;
//     text-align: center;
//     width: 100%;

//     .cars__item {


//         cursor: pointer;
//         display: flex;
//         justify-content: space-between;
//         padding: 20px 30px;
//         margin-bottom: 0;
//         color: inherit;
//         background-color: #fff;

//         p {
//             // border: 1px #000 solid;
//             color: #495057;
//             width: 150px;
//             font-size: 15px;
//             font-weight: 500;
//             margin: 0;
//             // padding: 10px;
//             // text-align: center
//         }

//         .userId {
//             width: 40px;
//             font-size: 15px;
//             font-weight: 500;
//         }
//     }

//     .cars_list {
//         box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
//     }
// }

// .active {
//     color: #aab1b8;
// }