ul,
li {
    list-style: none;
}

.btn {
    background: none;
    border: none;
}

.container {

    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "Rajdhani", sans-serif;



    //


}