ul,
li {
    list-style: none;
}

.btn {
    background: none;
    border: none;
}

.container {
    app-chat-list {
        margin-right: 15px;
    }

    padding: 15px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    font-family: "Rajdhani",
    sans-serif;



    //


}