<form #addTripForm="ngForm" (ngSubmit)="addTrip(addTripForm)" class="form">
  <div class="form_items">
    <div class="form_item_inputs">
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Car type</mat-label>
        <mat-select name="carId" id="carId" [(ngModel)]="trip.carId" (ngModelChange)="setSelectedCar($event)" required>
          <mat-option *ngFor="let car of userCars" [value]="car.id">
            {{car.modelName}}
          </mat-option>
          <!-- <mat-option [value]="carType.Bus">
            Bus
          </mat-option> -->
        </mat-select>
        <mat-icon matSuffix>drive_eta</mat-icon>
        <!-- <mat-icon matSuffix *ngIf="newCar.carType == carType.Bus">airport_shuttle</mat-icon> -->
        <!-- <mat-error *ngIf="CarFormControl.hasError('required')">
          Car type is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <!-- <div class="form_item">
        <label for="carId" class="sr-only">Car</label>

        <select name="carId" id="carId" [(ngModel)]="trip.carId" (ngModelChange)="setSelectedCar($event)" required>
          <option *ngFor="let car of userCars" value="{{car.id}}" [ngValue]="car.id">
            <p class="option">{{car.modelName}}</p>
          </option>
        </select>
      </div> -->
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Count of seats</mat-label>
        <input matInput type="number" id="pricePerSeat" name="pricePerSeat" min="1" [(ngModel)]="trip.pricePerSeat"
          placeholder="Ex. 4" required>
        <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
        <!-- <mat-error *ngIf="CarFormControl.hasError('required')">
          Count of seats is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <!-- <div class="form_item">
        <label for="pricePerSeat" class="sr-only">pricePerSeat</label>
        <input type="number" id="pricePerSeat" name="pricePerSeat" [(ngModel)]="trip.pricePerSeat" class="form-control"
          placeholder="pricePerSeat" required>
      </div> -->

    </div>
    <div class="box">
      <div class="seats">
        <div class="wheel">
          <img src="../../../../assets/images/wheel.png" class="img__wheel" alt="">
        </div>
        <div class="seats_list">
          <div *ngFor="let car of userCars">
            <div class="seats_list" *ngIf="trip.carId == car.id">
              <div class="seat_item" *ngFor="let seat of car.seats">
                <div class="btn seat booked" (click)="addSeat(seat.id)" *ngIf="!seat.isSelected; else elseBlock">
                  <p>{{seat.seatNumber}} </p>
                </div>
                <ng-template #elseBlock>
                  <div class="btn seat" (click)="addSeat(seat.id)">
                    <p>{{seat.seatNumber}} </p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="btn btn-submit" type="submit" [disabled]="!addTripForm.valid">Add new trip</button>
      </div>
    </div>

    <!-- <div class="actions">
      <button class="btn btn-submit" type="submit" [disabled]="!addTripForm.valid">Add new trip</button>
    </div> -->
  </div>
</form>