<div class="wrapper">
    <!-- <div class="main_info">
        <div class="user__image">
            <img [src]="" alt="" class="img profile__img">
        </div>
        <div class="info">
            <div class="info__data">
                <p>10</p>
                <p>Cars</p>
            </div>
            <div class="info__data">
                <p>11</p>
                <p>Trips</p>
            </div>
            <div class="info__data">
                <p>12</p>
                <p>Travels</p>
            </div>
        </div>
        <div class="user__data">
            <p><strong>{{user.firstName}}</strong></p>
            <hr class="data__underline" />
            <p>{{user.email}}</p>
            <hr class="data__underline" />
            <p>{{user.phoneNumber}}</p>
            <hr class="data__underline" />
        </div>
        <button class="btn btn-message">Message</button>
    </div> -->
    <div class="main_info licenses">
        <h3 class="title"><strong>Driving license</strong></h3>
        <div class="driving_licenses">
            <div *ngFor="let doc of user.userDocuments" class="license_image">
                <img [src]="sanitaizeImg(doc.drivingLicense)" class="img driving_license__img" alt="">
            </div>
            <!-- <div *ngFor="let doc of user.userDocuments" class="license_image">
                <img [src]="sanitaizeImg(doc.drivingLicense)" class="img driving_license__img" alt="">
            </div> -->
        </div>
        <div class="actions">
            <img (click)="changeUserStatus(userStatus.Confirmed)" class="btn btn_actions"
                src="../../../../assets/images/like1.png" alt="">
            <img (click)="changeUserStatus(userStatus.NeedMoreData)" class="btn btn_actions"
                src="../../../../assets/images/customer-satisfaction.png" alt="">
            <img (click)="changeUserStatus(userStatus.Rejected)" class="btn btn_actions"
                src="../../../../assets/images/dislike1.png" alt="">
        </div>
        <!-- <button class="btn actions">Approve</button>
        <button class="btn actions">NeedMore</button>
        <button class="btn actions">Reject</button> -->
    </div>
</div>