<p>user-request-info works!</p>


{{user.firstName}}

<p><img style="width: 30%;" [src]="convertImg(user.drivingLicense)" alt=""></p>

<button (click)="changeUserStatus(userStatus.Confirmed)">Confirm</button>
<button (click)="changeUserStatus(userStatus.Rejected)">Reject</button>
<button (click)="changeUserStatus(userStatus.NeedMoreData)">Again</button>
<div *ngFor="let car of user.cars">
    <p>{{car.modelName}}</p>
    <p><img style="width: 30%;" [src]="convertImg(car.techPassport)" alt=""></p>
    <button (click)="changeCarStatus(carStatus.Confirmed, car.id)">Confirm</button>
    <button (click)="changeCarStatus(carStatus.Rejected, car.id)">Reject</button>
    <button (click)="changeCarStatus(carStatus.NeedMoreData, car.id)">Again</button>
</div>