<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll(searchForm);" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false"
  style="height: 87vh; overflow: auto;">
  <form #searchForm="ngForm" (ngSubmit)="onScroll(searchForm);">
    <div class="search-inputs">
      <div class="place">
        <div class="input__item">
          <label for="startPlace" class="sr-only">Start Place:</label>
          <input type="email" id="startPlace" name="startPlace" [(ngModel)]="trip.startPlace" class="input"
            placeholder="City, region" required>
          <mat-icon class="search_icon">location_on</mat-icon>
        </div>
        <div class="input__item">
          <label for="endPlace" class="sr-only">End Place:</label>
          <input type="email" id="endPlace" name="endPlace" [(ngModel)]="trip.endPlace" class="input"
            placeholder="City, region" required>
          <mat-icon class="search_icon">search</mat-icon>
        </div>
      </div>
      <div class="other">
        <div class="input__item">
          <label for="countOfSeats" class="sr-only">Travellers:</label>
          <div class="counter">
            <mat-icon class="add_icon" (click)="counterRemove()">remove</mat-icon>
            <p class="counter_value">{{trip.countOfSeats}}</p>
            <mat-icon class="remove_icon" (click)="counterAdd()">add</mat-icon>
          </div>
        </div>
        <div class="input__item">
          <label for="startTime" class="sr-only">Pick Up:</label>
          <input type="date" id="startDate" name="searchData" [(ngModel)]="trip.startTime" class="input"
            placeholder="countOfSeats" required>
        </div>
      </div>
      <div class="search">
        <input type="submit" class="btn btn__search" value="Search" [disabled]="!searchForm.valid">
      </div>
    </div>
  </form>

  <div class="search_results" *ngIf="trips.length > 0">
    <div class="filters">

    </div>
    <div class="items">
      <div class="search_item" *ngFor="let trip of trips" (click)="navigateToTripPage(trip.id)">
        <div class="header">
          <div class="time">
            <p>{{trip.startTime | date:'hh:mm'}}</p>
            <p>{{trip.endTime | date:'hh:mm'}}</p>
          </div>
          <div class="line">
          </div>
          <div class="price_item">
            <div class="cities">
              <div class="start">
                <mat-icon class="item_icon">gps_fixed</mat-icon>
                <p>{{trip.startPlace}}</p>
              </div>
              <div class="destination">
                <mat-icon class="item_icon"> place</mat-icon>
                <p>{{trip.endPlace}}</p>
              </div>
            </div>
            <div class="price">
              <p>{{trip.pricePerSeat | currency:"UAH":"symbol"}}</p>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="profile_img">
            <img [src]="sanitaizeImg(trip.user?.userImg!)" class="img" alt="">
          </div>
          <p class="user_name">{{trip.user?.firstName}}</p>
        </div>
      </div>
    </div>
  </div>
</div>