.container{
    margin-top: 56px;
}
.search-inputs{
    display: flex;
    justify-content: center;
    // background-color: #34375b;
    padding: 50px;
    border-radius: 50px;
}
input{
    padding: 10px;
}