<div class="container">
  <form #searchForm="ngForm" (ngSubmit)="searchTrips(searchForm)">
    <div class="search-inputs">
      <div class="place">
        <div class="input__item">
          <label for="startPlace" class="sr-only">Start Place:</label>
          <input type="email" id="startPlace" name="startPlace" [(ngModel)]="trip.startPlace" class="input"
            placeholder="City, region" required>
          <mat-icon class="search_icon">location_on</mat-icon>
        </div>
        <div class="input__item">
          <label for="endPlace" class="sr-only">End Place:</label>
          <input type="email" id="endPlace" name="endPlace" [(ngModel)]="trip.endPlace" class="input"
            placeholder="City, region" required>
          <mat-icon class="search_icon">search</mat-icon>
        </div>
      </div>
      <div class="other">
        <div class="input__item">
          <label for="countOfSeats" class="sr-only">Travellers:</label>
          <div class="counter">
            <mat-icon class="add_icon" (click)="counterRemove()">remove</mat-icon>
            <p class="counter_value">{{trip.countOfSeats}}</p>
            <mat-icon class="remove_icon" (click)="counterAdd()">add</mat-icon>
          </div>
        </div>
        <div class="input__item">
          <label for="startTime" class="sr-only">Pick Up:</label>
          <input type="date" id="startDate" name="searchData" [(ngModel)]="trip.startTime" class="input"
            placeholder="countOfSeats" required>
        </div>
      </div>
      <div class="search">
        <input type="submit" class="btn btn__search" value="Search" [disabled]="!searchForm.valid">
      </div>
    </div>
  </form>

  <div class="search_results">
    <!-- <div *ngFor="let item of data" (click)="navigateToTripPage(item.id)">
      {{item}}
    </div> -->
    <div class="search_item">
      <div class="header">
        <div class="time">
          <p>08:00</p>
          <p>15:00</p>
        </div>
        <div class="line">
        </div>
        <div class="cities">
          <div class="start">
            <mat-icon>gps_fixed</mat-icon>
            <p>Lviv</p>
          </div>
          <div class="destination">
            <mat-icon> place</mat-icon>
            <p>Kyiv</p>
          </div>
        </div>
        <div class="price">

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div *ngFor="let item of data" (click)="navigateToTripPage(item.id)">
  {{item}}
</div> -->