mat-progress-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;

    right: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
}

.wrapper {
    position: relative;
    height: 91%;
}

.hide-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.no-data {
    text-align: center;
    padding: 30px;
    font-size: 20px;

}

.container {
    position: relative;
    box-sizing: border-box;
}

app-alerts {
    width: 325px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
    z-index: 37;
    // height: 100px;
    // background: rgb(246, 143, 143);
}

.items {
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
    width: 50%;
    box-sizing: border-box;
    margin: auto;



    .search_item {
        font-weight: 600;
        margin-top: 10px;
        // cursor: pointer;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
        transition: box-shadow 200ms ease-in 0s;
        background-color: rgb(255, 255, 255);
        flex: 1 1 0%;
        min-width: 325px;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .trip-main-info {

            display: flex;

            // justify-content: center;
            // justify-content: space-around;

            .time {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80px;
                box-sizing: border-box;

                p {
                    margin: 0;
                }
            }

            .line {
                box-sizing: border-box;
                border: 1px #000 solid;
                // margin: 10px;
                height: 80px;
                padding: 10px 0;
                background-color: #000;
                margin-left: 10px;
                margin-right: 10px;
            }

            .cities {
                display: flex;
                flex-flow: column;
                justify-content: space-between;

                p {
                    font-size: 18px;
                    margin: auto 5px;
                }
            }

            .place {
                display: flex;
            }

            .price_item {
                width: 200px;
                justify-content: space-between;
                display: flex;

                .price {
                    p {
                        margin: 0;
                        font-size: 20px;
                    }
                }
            }


        }

        .btn-delete-trip {
            //  width: 40%;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        .actions {
            cursor: pointer;
            width: 100px;
            // float: right;
            font-weight: 400;
            color: #fff;
            border-radius: 5px;
            background-color: #08183a;
            height: 35px;
            padding: 2px 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
            // margin-left: 100%;

            .material-icons {
                margin: auto;
            }

            p {
                text-transform: uppercase;
                margin: auto;
            }
        }

        .actions:hover {
            box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
        }
    }

    .booked_info {
        margin-top: 10px;
        width: 100%;
        // display: flex;
        // justify-content: center;

        .info {
            display: flex;
            // margin: auto;
            font-size: 18px;
            justify-content: center;

            .material-icons {
                margin: auto 5px;
                font-size: 30px;
            }

            p {
                margin: auto 5px;
            }

            .seats-count {
                display: flex;
            }
        }

        .btn-users {
            display: flex;
            // flex-direction: column;
            // justify-content: end;
            // margin-left: 100px;
            justify-content: center;

            .material-icons {}
        }
    }

    .booked_info:hover .btn-users .material-icons {
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
    }

    .list_users {
        font-weight: 500;
        width: 100%;

        .user {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            .material-icons {
                margin: auto 0;
                cursor: pointer;
            }

            .user_info {
                display: flex;
            }



            .body {
                width: 200px;
                display: flex;
                position: relative;

                .material-icons {
                    cursor: pointer;
                    // background-color: #fff;
                    // position: absolute;
                    // right: 0%;
                    // top: -5px;
                    // margin: auto;
                }

                .user_name {
                    margin: auto 20px;
                }
            }

            .booked-seats {
                display: flex;

                p {
                    margin: auto;
                    margin-right: 5px;
                }

                .booked_seats_num {
                    margin: auto 3px;
                    width: 40px;
                    height: 40px;
                    border: 2px solid rgb(221, 221, 221);
                    color: rgb(85, 104, 107);
                    background: rgb(221, 221, 221);
                    border-radius: 5px;
                    display: flex;
                    cursor: pointer;

                    p {
                        margin: auto;
                    }
                }
            }
        }

        .profile_img {
            margin: auto 5px;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .is-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .search_item:hover {
        opacity: 1;
        // cursor: pointer;
    }
}