<nav *ngIf="isAdmin() && isUserAuthenticated()">
    <ul class="menu">
        <li class="logo" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">BlaBlaCar</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">Administrators</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a [routerLink]="['admin/roles']">Roles</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}">
            <a class="menu__list">Requests
                <ul class="menu submenu">
                    <li class="submenu_item">
                        <a (click)="navigateToUserRequests(userStatus.Pending)">Pending</a>
                    </li>
                    <li class="submenu_item">
                        <a (click)="navigateToUserRequests(userStatus.Confirmed)">Confirmed</a>
                    </li>
                    <li class="submenu_item">
                        <a (click)="navigateToUserRequests(userStatus.Rejected)">Rejected</a>
                    </li>
                    <li class="submenu_item">
                        <a (click)="navigateToUserRequests(userStatus.NeedMoreData)">Need more data</a>
                    </li>
                </ul>
            </a>
        </li>
        <li class="item button" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">
                <mat-icon>account_circle</mat-icon>
            </a></li>
        <li class="item button secondary" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#" (click)="logOut()">Log
                out</a></li>
        <li class="toggle" (click)="change()"><span class="bars"></span></li>
    </ul>
</nav>
<nav *ngIf="isUserAuthenticated() && !isAdmin()">
    <ul class="menu">
        <li class="logo" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">BlaBlaCar</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}">
            <p href="#" class="notification"><i>Notifi</i>
                <app-notifications class="notification_list"></app-notifications>
            </p>
        </li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}">

            <a class="menu__list" [routerLink]="['admin/requests']">User
                <ul class="menu submenu">
                    <li class="submenu_item">
                        <a>Add car</a>
                    </li>
                    <li class="submenu_item">
                        <a>Trips</a>
                    </li>
                    <li class="submenu_item">
                        <a>Booked</a>
                    </li>
                </ul>
            </a>
        </li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">Home</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">About</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a [routerLink]="['profile']">Profile2</a></li>
        <li class="toggle" (click)="change()"><span class="bars"></span></li>
    </ul>
</nav>
<nav *ngIf="!isUserAuthenticated()">
    <ul class="menu">
        <li class="logo" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">BlaBlaCar</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">Home</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">About</a></li>
        <li class="item" [ngClass]="{'': toggle, 'active': !toggle}"><a href="#">Services</a></li>
        <li class="item button" [ngClass]="{'': toggle, 'active': !toggle}"><a routerLink="/login">Login</a></li>
        <li class="item button secondary" [ngClass]="{'': toggle, 'active': !toggle}"><a routerLink="/register">Sing
                up</a></li>
        <li class="toggle" (click)="change()"><span class="bars"></span></li>
    </ul>
</nav>