.container {
    padding-right: 15px;
    padding-left: 15px;

    background-color: #131022 !important;
    // max-height: 80px;
}

nav {

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.toggle {
    display: none;
}

.btn {
    border: none;
    // background-color: white;
    padding: 0;
}

.navbar-nav {
    display: flex;
    margin: auto;

    .nav-item {
        margin: 0;
    }
}

.navbar-brand {
    display: inline-block;
    margin: auto 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.notification {
    position: relative;
}

.notification_list {
    display: none;

}

.notification:hover .notification_list {
    display: block;
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.menu {
    display: flex;
}

.navbar-section-main {
    margin: 10px 0;

    .navbar-nav {
        .nav-item {

            .nav-link,
            button {
                cursor: pointer;
                display: block;
                margin: auto 5px;
                font-size: 18px;
                font-weight: 400;
                color: rgba(255, 255, 255, .85);
                position: relative;
                opacity: 1 !important;
                padding: 10px;

            }

            button {
                // background-color: #6366f1;
                // border-color: #6366f1;
                border-radius: 10px;
                // transition: all 0.15s ease;
                background-image: linear-gradient(to right, #5C258D 0%, #4389A2 51%, #5C258D 100%);
                transition: .5s;
                background-size: 200% auto;
                // text-transform: uppercase;
            }

            .btn-toggler,
            .btn-trip {
                display: flex;
                padding: 8px;
            }

            .btn-trip {
                color: #fff;
                transition: .5s;
                border-radius: 10px;
                border: 2px #fff solid;

                // border: 2px #fff solid;
                padding: 6px;
                // background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8 51%, #757F9A 100%);
                // background-image: linear-gradient(to right, #606c88 0%, #3f4c6b 51%, #606c88 100%);

                justify-content: space-between;
                width: 110px;
                max-height: 44px;

                i {
                    margin: 0;
                }

                p {
                    margin: auto;
                }

            }


            button:hover {
                background-position: right center;
                color: #fff;
                text-decoration: none;
                // transform: translateY(-1%);
                // background-color: #000;
                // color: white;
            }
        }

        .toggler {
            display: none;
        }
    }
}

.nav-item {
    position: relative;
}

.submenu {
    display: none;
    margin: auto;
    position: absolute;
    width: 150px;
    left: 12px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    transition: 2s all ease;

    ul {
        padding: 0;
    }

    .submenu_text {
        color: #000;
        position: relative;
        opacity: 1 !important;
        padding: 10px;
        display: block;
        margin: auto 5px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }
}

.btn:hover .submenu {
    display: block;

}

.user_ptofile_items {
    position: relative;

    .submenu {
        left: -106px;
        top: 42px;
    }
}


@media all and (max-width:840px) {
    nav {
        flex-wrap: wrap;
        padding: 10px;
    }

    .navbar-section-main {
        .navbar-nav {
            .toggler {
                display: block;
            }
        }
    }

    .menu {
        width: 100%;
        order: 1;
        width: 100%;
        display: none;
        // justify-content: center;
    }

    .menu_active {
        display: block;
    }

    .main_nav {
        flex-flow: column;

        .nav-item {
            width: 100%;
            border-bottom: 1px solid#fff;
        }

        .nav-item:hover {
            transform: translateY(-0.5%);
            transition: all 0.20s ease;
        }
    }

}

// @media all and (max-width:468px) {
//     nav {
//         background-color: #000;
//     }
// }