<form #addTripForm="ngForm" class="form" (ngSubmit)="navigateToAvailableSeats()">
  <div class="form_items">
    <div *ngIf="invalidForm" class="alert alert-danger">Invalid username or
      password.</div>
    <div class="form_item_inputs">
      <!-- <mat-form-field class="input__item" appearance="outline">
        <mat-label>Start place</mat-label>
        <input type="text" matInput placeholder="Start place" id="startPlace" name="startPlace" required
          [(ngModel)]="trip.startPlace">
        <mat-icon matSuffix>my_location</mat-icon>
      </mat-form-field> -->
      <app-maps-autocomplete (locationChange)="startPlaceChanged($event)"></app-maps-autocomplete>

      <!-- <mat-form-field class="input__item" appearance="outline">
        <mat-label>Start place</mat-label>
        <input type="text" matInput placeholder="End place" id="endPlace" name="endPlace" required
          [(ngModel)]="trip.endPlace">
        <mat-icon matSuffix> place</mat-icon>
      </mat-form-field> -->
      <app-maps-autocomplete (locationChange)="startEndChanged($event)"></app-maps-autocomplete>

    </div>
    <div class="form_item_inputs">
      <mat-form-field class="input__item date" appearance="outline">
        <mat-label>Choose start date</mat-label>
        <input matInput [matDatepicker]="pickerStart" required [(ngModel)]="trip.startTime" id="startTime"
          name="startTime">
        <mat-datepicker-toggle matSuffix [for]="pickerStart">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input__item date" appearance="outline">
        <mat-label>Choose end date</mat-label>
        <input matInput [matDatepicker]="picker" required [(ngModel)]="trip.endTime" id="endTime" name="endTime">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <div class="form_item">
        <label for="startTime" class="sr-only">startTime</label>
        <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="trip.startTime" class="form-control"
          placeholder="startTime" required>
      </div>
      <div class="form_item">
        <label for="endTime" class="sr-only">endTime</label>
        <input type="datetime-local" id="endTime" name="endTime" [(ngModel)]="trip.endTime" class="form-control"
          placeholder="endTime" required>
      </div> -->
    </div>
    <div class="form_item area">
      <mat-form-field class="input__item" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput id="description" name="description" rows="10" [(ngModel)]="trip.description">
          </textarea>
      </mat-form-field>
      <!-- <div class="form_item">
        <label for="description" class="sr-only">description</label>
        <textarea id="description" name="description" cols="30" rows="10" [(ngModel)]="trip.description"></textarea>
      </div> -->
    </div>
    <div class="actions">
      <button class="btn btn-submit" type="submit" [disabled]="!addTripForm.valid">OK</button>
    </div>
  </div>
</form>


<!-- <div class="container">
  <form #addTripForm="ngForm">
    <h2 class="form-signin-heading">Add trip</h2>
    <div *ngIf="invalidForm" class="alert alert-danger">Invalid username or password.</div>
    <br />
    <label for="startPlace" class="sr-only">Start Place</label>
    <input type="email" id="startPlace" name="startPlace" [(ngModel)]="trip.startPlace" class="form-control"
      placeholder="Start place" required>
    <br />
    <label for="endPlace" class="sr-only">End Place</label>
    <input type="email" id="endPlace" name="endPlace" [(ngModel)]="trip.endPlace" class="form-control"
      placeholder="End place" required>
    <br />
    <label for="startTime" class="sr-only">startTime</label>
    <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="trip.startTime" class="form-control"
      placeholder="startTime" required>
    <br />
    <label for="endTime" class="sr-only">endTime</label>
    <input type="datetime-local" id="endTime" name="endTime" [(ngModel)]="trip.endTime" class="form-control"
      placeholder="endTime" required>
    <br />
    <label for="pricePerSeat" class="sr-only">pricePerSeat</label>
    <input type="number" id="pricePerSeat" name="pricePerSeat" [(ngModel)]="trip.pricePerSeat" class="form-control"
      placeholder="pricePerSeat" required>
    <br />
    <label for="description" class="sr-only">description</label>
    <input type="text" id="description" name="description" [(ngModel)]="trip.description" class="form-control"
      placeholder="description" required>
    <br />


    <button (click)=" navigateToAvailableSeats()"></button>
    <button class="btn btn-lg btn-primary" type="submit" [disabled]="!addTripForm.valid">Add new trip</button>
  </form>
</div> -->