<div class="container">
  <div class="car_form">
    <div class="text">
      <h5>Add information about your car. This will help passengers find you when meeting.</h5>
    </div>
    <form #carForm="ngForm" class="form" (ngSubmit)="addCar(carForm)">
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Car model</mat-label>
        <input type="text" matInput required id="modelName" name="modelName" [(ngModel)]="newCar.modelName"
          placeholder="Ex. BMW">
        <mat-icon matSuffix>drive_eta</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Car model is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Registration number</mat-label>
        <input type="text" matInput required type="text" id="registNum" name="registNum" [(ngModel)]="newCar.registNum"
          placeholder="Ex. AA0000AA">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Registration number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Count of seats</mat-label>
        <input matInput type="number" min="1" id=" countOfSeats" name="countOfSeats" [(ngModel)]="newCar.countOfSeats"
          placeholder="Ex. 4" required>
        <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Count of seats is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Car type</mat-label>
        <mat-select name="carId" id="carId" [(ngModel)]="newCar.carType" required>
          <mat-option [value]="carType.Sedan">
            Sedan
          </mat-option>
          <mat-option [value]="carType.Bus">
            Bus
          </mat-option>
        </mat-select>
        <mat-icon matSuffix *ngIf="newCar.carType == carType.Sedan">drive_eta</mat-icon>
        <mat-icon matSuffix *ngIf="newCar.carType == carType.Bus">airport_shuttle</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Car type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Add car documents</mat-label>
        <ngx-mat-file-input [multiple]="true" [formControl]="fileControl" [required]="true">
        </ngx-mat-file-input>

      </mat-form-field>
      <button class="btn " type="submit" [disabled]="!carForm.valid">Save car</button>
    </form>
  </div>
</div>