<div class="container">
  <div class="car_form">
    <div class="text">
      <h5>Add information about your car. This will help passengers find you when meeting.</h5>
    </div>
    <form #carForm="ngForm" class="form" (ngSubmit)="addCar(carForm)">
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Car model</mat-label>
        <input type="text" matInput required id="modelName" name="modelName" [(ngModel)]="newCar.modelName"
          placeholder="Ex. BMW">
        <mat-icon matSuffix>drive_eta</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Car model is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Registration number</mat-label>
        <input type="text" matInput required type="text" id="registNum" name="registNum" [(ngModel)]="newCar.registNum"
          placeholder="Ex. AA0000AA">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Registration number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Count of seats</mat-label>
        <input matInput type="number" min="1" id=" countOfSeats" name="countOfSeats" [(ngModel)]="newCar.countOfSeats"
          placeholder="Ex. 4" required>
        <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Count of seats is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-item" appearance="outline">
        <mat-label>Car type</mat-label>
        <mat-select name="carId" id="carId" [(ngModel)]="newCar.carType" required>
          <mat-option [value]="carType.Sedan">
            Sedan
          </mat-option>
          <mat-option [value]="carType.Bus">
            Bus
          </mat-option>
        </mat-select>
        <mat-icon matSuffix *ngIf="newCar.carType == carType.Sedan">drive_eta</mat-icon>
        <mat-icon matSuffix *ngIf="newCar.carType == carType.Bus">airport_shuttle</mat-icon>
        <mat-error *ngIf="CarFormControl.hasError('required')">
          Car type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Add car documents</mat-label>
        <ngx-mat-file-input [multiple]="true" [formControl]="fileControl" [required]="true">
        </ngx-mat-file-input>

      </mat-form-field>
      <button class="btn " type="submit" [disabled]="!carForm.valid">Save car</button>


      <!-- <h2 class="form-signin-heading">Add info about car</h2>
    <br />
    <label for="modelName" class="sr-only">Car model</label>
    <input type="text" id="modelName" name="modelName" [(ngModel)]="newCar.modelName" class="form-control"
      placeholder="model name" required>
    <br />
    <label for="registNum" class="sr-only">Registration number</label>
    <input type="text" id="registNum" name="registNum" [(ngModel)]="newCar.registNum" class="form-control"
      placeholder="registeration number" required>
    <br />
    <label for="countOfSeats" class="sr-only">Count of seats</label>
    <input type="text" id="countOfSeats" name="countOfSeats" [(ngModel)]="newCar.countOfSeats" class="form-control"
      placeholder="count of seats" required>
    <br />
    <label for="carType" class="sr-only">Car Type</label>
    <select name="carId" id="carId" [(ngModel)]="newCar.carType" required>
      <option value="{{carType.Bus}}"> Bus </option>
      <option value="{{carType.Sedan}}"> Sedan </option>
    </select>
    <br />
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" multiple> -->
      <!-- <button type="button" class="btn btn-success" (click)="addLicense()">Upload File</button> -->
      <!-- <button class="btn btn-lg btn-primary" type="submit" [disabled]="!carForm.valid">Save car</button> -->
    </form>
  </div>
</div>