

<h2 mat-dialog-title>Підтвердіть бронь</h2>

<mat-dialog-content>
  <div>
    <p>{{trip.id}}</p>
    <p>{{trip.countOfSeats}}</p>
    <p>{{trip.description}}</p>
    <p>{{trip.endPlace}}</p>
    <p>{{trip.endTime}}</p>
    <p>{{trip.pricePerSeat}}</p>
    <p>{{trip.startPlace}}</p>
    <p>{{trip.startTime}}</p>
    <p>{{trip.userId}}</p>
    <p> Ціна за {{requestedSeats}} - {{requestedSeats*trip.pricePerSeat}} --- {{ trip.pricePerSeat }}</p>
  </div>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class=""(click)="close()">Відмінити</button>
    <button class=""(click)="confirmBook()">Підтвердити</button>
</mat-dialog-actions>