<div class="wrapper">
  <app-alerts></app-alerts>



  <div class="container">
    <div class="login-form">
      <div class="register-reference">
        <h5>Don't have an account?</h5>
        <button class="btn" type="submit" routerLink="/auth/register">Sing
          up</button>
        <!-- <button class="btn" type="submit" >Sing
          up</button> -->
      </div>
      <form #loginForm="ngForm" class="form" (ngSubmit)="login(loginForm)">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" id="email"
            name="email" [(ngModel)]="credentials.email">
          <mat-icon matSuffix> email</mat-icon>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl" [(ngModel)]="credentials.password">
          <i class="material-icons" matSuffix>key</i>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button class="btn" type="submit" [disabled]="!passwordFormControl.valid || !emailFormControl.valid">Log
          in</button>
        <h6 class="forgot-password" routerLink="/auth/forgotpassword">Fogot password?</h6>
      </form>
    </div>
  </div>
</div>