<div class="navbar">
    <ul class="navbar__list">
        <li class="list__item">
            <i class="material-icons">dashboard</i>
            <a class="btn btn-link" href="">Dashboard</a>

        </li>
        <li class="list__item">
            <i class="material-icons">insert_chart_outlined</i>
            <a class="btn btn-link" href="">Charts</a>

        </li>
        <li class="list__item submenu">
            <div class="links">
                <i class="material-icons">question_mark</i>
                <a class="btn btn-link" href="">Requests</a>
            </div>
            <ul class="sub__navbar">
                <li class="list__item">Pending</li>
                <li class="list__item">Confirmed</li>
                <li class="list__item">Rejected</li>
                <li class="list__item">Need more data</li>
            </ul>
        </li>
        <li class="list__item">
            <i class="material-icons">person_search</i>
            <a class="btn btn-link" href="">Users</a>
        </li>
        <li class="list__item">
            <i class="material-icons">admin_panel_settings</i>
            <a class="btn btn-link" href="">Admins</a>
        </li>
        <li class="list__item">
            <i class="material-icons">chat</i>
            <a class="btn btn-link" href=""> Chats</a>
        </li>
    </ul>
</div>