.nav {
    padding-bottom: 60px;
}

app-admin-navbar {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.wrapper {
    display: flex;
    // background-color: #eff1f7;

    .panel {
        background-color: #fff;
        // border: 1px #000 solid;
        min-width: 250px;
        min-height: 84vh;
    }

    .content {
        padding: 0 20px;
        flex: auto;
        min-width: 60%;
    }
}