<div class="users-list">
    <div class="head">
        Top users
        <div class="actions">
            <p>Order by</p>
            <button class="btn btn-orderBy" (click)="usersOrderBy(orderBy.Trips)">Trips</button>
            <button class="btn btn-orderBy" (click)="usersOrderBy(orderBy.UserTrips)">Booked seats</button>
        </div>
    </div>
    <div class="title">
        <h4 class="userId">#</h4>
        <h4>Avatar</h4>
        <h4>Name</h4>
        <h4>Email</h4>
        <h4>Phone</h4>
        <h4>Date of creation</h4>
        <h4>Licenses status</h4>
        <h4>Total trips</h4>
        <h4>Booked seats</h4>
    </div>
    <div style="height: 300px; overflow: auto;">
        <div class="user__item" *ngFor="let user of users; let i = index;">
            <p class="userId">#{{i+1}}</p>
            <div class="img">
                <p class="user_avatar">
                    <img [src]="sanitizeImg(user.userImg!)" alt="">
                </p>
            </div>
            <p>{{user.firstName}}</p>
            <p>{{user.email}}</p>
            <p>{{user.phoneNumber}}</p>
            <p>{{user.createdAt | date}}</p>
            <p>{{user.userStatus}}</p>
            <p>{{user.trips?.length}}</p>
            <p>{{user.tripUsers?.length}}</p>
            <!-- добавити випадайку на машини -->
        </div>
    </div>
    <div class="actions">
        <button class="btn btn-load-more" (click)="getUsers()">
            Load more
        </button>
    </div>
</div>