::ng-deep.mat-dialog-container {
    position: relative !important;
}

.btn-close {
    position: absolute;
    right: 1px;
    top: 0px
}

.container {
    width: 100%;
    // display: flex;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .title {
        font-size: 20px;
        font-weight: 500;
        color: #495057;
        width: 100%;
    }


    form {
        width: 100%;
        margin: 0;

    }

    mat-form-field {
        margin: auto;
        border-radius: 10px;
        padding: 10px 14px;
        display: block;
        // width: 100%;
        background: #e6e6e6;
    }

    .btn {
        border: none;
        background-color: #495057;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 8px;
        border-radius: 10px;
        padding: 15px 25px;
        color: white;
    }

}

.btn-status {
    background: none;
    border: none;
    padding: 15px 20px;
    text-transform: capitalize;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 10px;
    color: #fff;
    display: flex;

    p {
        margin: auto 0;
        font-size: 16px;
        margin-left: 5px;
    }
}

.btn-success {
    background-color: #88B04B;
}

.btn-error {
    background-color: #D8000C;
}

.rate {
    display: inline-block;
    // float: left;
    // height: 46px;
    padding: 0 10px;
    margin-bottom: 5px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}