<div class="container">
    <div class="search_results" *ngIf="trips.length > 0">
        <div class="items">
            <div class="search_item" *ngFor="let item of trips">
                <div class="header">
                    <div class="body">
                        <div class="profile_img">
                            <img [src]="sanitaizeImg(item.user?.userImg!)" class="img" alt="">
                        </div>
                        <p class="user_name">{{item.user?.firstName}}</p>
                    </div>
                    <div class="time">
                        <p>{{item.startTime | date:'MMM d, y, h:mm a'}}</p>
                        <p>{{item.endTime | date:'MMM d, y, h:mm a'}}</p>
                    </div>
                    <div class="line">
                    </div>
                    <div class="price_item">
                        <div class="cities">
                            <div class="start">
                                <mat-icon class="item_icon">gps_fixed</mat-icon>
                                <p>{{item.startPlace}}</p>
                            </div>
                            <div class="destination">
                                <mat-icon class="item_icon"> place</mat-icon>
                                <p>{{item.endPlace}}</p>
                            </div>
                        </div>
                        <div class="price">
                            <p>{{item.pricePerSeat | currency:"UAH":"symbol"}}</p>
                        </div>
                    </div>
                    <div class="actions">
                        <i class="material-icons" (click)="deleteBookedTrip(item.tripUsers)">cancel</i>
                    </div>
                </div>
                <div class="bookedSeats">
                    <p class="title">You have booked seats:</p>
                    <div *ngFor="let tripUser of item.tripUsers" class="seatNum">
                        <p>{{tripUser.seat.num}}</p>
                        <i class="material-icons" (click)="deleteBookedSeat(tripUser)">cancel</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>