<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="getRequests();" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false"
    style="height: 88.9vh; overflow: auto;">

    <div *ngFor=" let user of requests.users">
        <div (click)="navigateToRequestInfo(user.id)" style="border: 1px solid #000;">
            {{user.firstName}}
            <p>Driving License - {{user.userStatus == userStatus.Pending}}</p>
            <!-- <img  style="width: 30%;" src="{{user.drivingLicense}}" alt=""> -->
        </div>
    </div>

</div>