.container {
    position: relative;
}

.car_form {
    border-radius: 10px;
    display: flex;
    position: relative;
    background: rgba(40, 57, 101, 1);
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 30%);
    width: 70%;
    padding: 0 0;
    margin: 100px auto;


}

.text {

    padding: 15% 0;
    margin: auto 0;
    height: 100%;
    display: flex;
    width: 45%;

    h5 {
        width: 90%;
        display: block;
        margin: auto;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: normal;
        word-spacing: 2px;
        color: #f2f4ff;
        line-height: 1;
    }
}

.form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 30%);
    background-color: #fff;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translatey(-50%);
    // background: rgba(40, 57, 101, 0.9);
    width: 40%;
    display: flex;
    flex-flow: column;

    .form-item {

        display: block;



    }

    .btn {
        border-radius: 10px;
        background-image: linear-gradient(to right, #5C258D 0%, #4389A2 51%, #5C258D 100%);
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        padding: 8px 0;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .btn:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
}
