<div class="filters__title">
    <div class="sort_header">
        <h4>Sort by</h4>
        <p class="btn-clear" (click)="deleteSelectedSort()">clear</p>
    </div>
    <div class="actions">
        <mat-radio-group aria-label="select" [(ngModel)]="trip.orderBy" (change)="orderByParams()">
            <mat-radio-button value="{{orderBy.EarliestDepartureTime}}">
                <div class="info">
                    <p>Earliest departure time</p>
                    <mat-icon matSuffix> access_time </mat-icon>
                </div>
            </mat-radio-button>
            <!-- <mat-radio-button value="{{orderBy.ShortestTrip}}">
                <div class="info">
                    <p> Shortest trip</p>
                    <mat-icon matSuffix> access_time </mat-icon>
                </div>
            </mat-radio-button> -->
            <mat-radio-button value="{{orderBy.LowestPrice}}">
                <div class="info">
                    <p> Lowest price</p>
                    <mat-icon matSuffix> access_time </mat-icon>
                </div>
            </mat-radio-button>
        </mat-radio-group>
    </div>

</div>