<div class="wrapper">
    <div class="cars" style="padding: 1rem;">
        <h3 class="title"><strong>Cars</strong></h3>
        <div class="cars_colllection">
            <div class="car_global" *ngFor="let car of user.cars">
                <div class="car">
                    <div class="car_info">
                        <p>{{car.modelName}}</p>
                        <p>{{car.registNum}}</p>
                        <p>{{car.carStatus}}</p>
                    </div>
                    <div class="driving_licenses">
                        <div class="documents" *ngFor="let doc of car.carDocuments" class="license_image">
                            <img [src]="sanitaizeImg(doc.techPassport)" alt="" class="img driving_license__img">
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <i class="material-icons btn btn_actions"
                        (click)="changeCarStatus(carStatus.Confirmed, car.id)">thumb_up</i>
                    <i class="material-icons btn btn_actions"
                        (click)="changeCarStatus(carStatus.NeedMoreData, car.id)">thumbs_up_down</i>
                    <i class="material-icons btn btn_actions"
                        (click)="changeCarStatus(carStatus.Rejected, car.id)">thumb_down</i>
                </div>
            </div>
        </div>

    </div>
</div>